Repository cc-hearts/v3-el: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["prettier --write .", "eslint  --fix"],
  "*.md": ["prettier --write"],
  "**/*.{scss,css}": "stylelint --fix"
}

wip: dict module
  components.d.ts
  src/App.vue
  src/apis/dict.ts
  src/feature/ele/dialog.vue
  src/feature/ele/formItem.vue
  src/feature/ele/formWrapper.vue
  src/feature/ele/tableOperation.vue
  src/feature/index.ts
  src/hooks/feature/useInitDialogProps.ts
  src/hooks/feature/useInitDrawerProps.ts
  src/hooks/feature/useInitFormProps.ts
  src/hooks/index.ts
  src/pages/dict/components/addDictDialog.vue
  src/pages/dict/components/addDictMapDialog.vue
  src/pages/dict/components/addDictMapDrawer.vue
  src/types/dict/index.ts
  src/types/ele/formItem.ts
  src/types/index.ts
  src/utils/index.ts
  src/utils/message.ts
Due: prettier --write ., eslint --fix

feat: dict module
  .prettierrc
  .vscode/settings.json
  components.d.ts
  package.json
  src/App.vue
  src/apis/dict.ts
  src/feature/ele/drawer.vue
  src/feature/ele/formItem.vue
  src/feature/ele/tableOperation.vue
  src/hooks/feature/useDialogWatch.ts
  src/hooks/feature/useInitDialogProps.ts
  src/hooks/index.ts
  src/pages/dict/components/addDictDialog.vue
  src/pages/dict/components/addDictMapDialog.vue
  src/pages/dict/components/addDictMapDrawer.vue
  src/types/ele/formItem.ts
  src/utils/request.ts
Due: prettier --write ., eslint --fix

feat: dict module
  src/App.vue
  src/pages/dict/components/addDictMapDrawer.vue
Due: prettier --write ., eslint --fix

fix: fix status toggle not callback api
  src/App.vue
  src/pages/dict/index.vue
Due: prettier --write ., eslint --fix

fix: fix button style
  public/vite.svg
  src/App.vue
  src/assets/scss/components/button/_button.scss
  src/assets/scss/variables/_variable.scss
  src/main.ts
  src/style.css
  src/style.scss
Due: prettier --write ., eslint --fix, stylelint --fix

release: release version 0.0.2
  package.json
  src/config/base.ts
  src/hooks/useInit.ts
  src/main.ts
  src/pages/dict/components/addDictMapDrawer.vue
  src/pages/dict/index.vue
Due: prettier --write ., eslint --fix

chore: update index
  README.md
  index.html
  src/feature/ele/tableView.vue
Due: prettier --write ., eslint --fix, prettier --write

feat: add drawer width
  src/pages/dict/components/addDictMapDrawer.vue
Due: prettier --write ., eslint --fix

perf: fix table form pagination components layout
  .vscode/settings.json
  components.d.ts
  src/App.vue
  src/assets/scss/components/button/_button.scss
  src/assets/scss/pages/operation.scss
  src/config/base.ts
  src/config/ui.ts
  src/feature/ele/formItem.vue
  src/feature/ele/pagination.vue
  src/feature/ele/table.vue
  src/feature/ele/tableView.vue
  src/feature/ele/tipsTooltip.vue
  src/hooks/ele/useAddRow.ts
  src/hooks/ele/useInitPagination.ts
  src/pages/dict/components/addDictMapDrawer.vue
  src/pages/dict/index.vue
  src/style.scss
  src/types/base.ts
  src/types/ele/formItem.ts
  src/types/ele/table.ts
Due: prettier --write ., eslint --fix, stylelint --fix

style: fixed components
  components.d.ts
Due: prettier --write ., eslint --fix

style: delete unless variable
  src/style.scss
Due: stylelint --fix

feat: add table loading
  components.d.ts
  src/App.vue
  src/apis/dict.ts
  src/feature/ele/table.vue
  src/feature/ele/tableView.vue
  src/main.ts
  src/pages/dict/index.vue
  src/routers/index.ts
  src/types/ele/table.ts
Due: prettier --write ., eslint --fix
